<div class="contact-container">
  <h1>Contact Information</h1>
  <h3>Location: <span class="info">Charlotte, NC</span></h3>
  <h3>Phone Number: <span class="info">999.999.9999</span></h3>
  <h3>Company Email: <span class="info">PersonalBudget@email.me</span></h3>
  <h3>Location: <span class="info">Charlotte, NC</span></h3>
  <br />
  <h1>Send us a message</h1>
  <form>
    <div>
      <input type="text" id="name" placeholder="name" name="name" value="" />
    </div>
    <div>
      <input
        type="email"
        id="email"
        placeholder="email"
        name="email"
        value=""
      />
    </div>
    <div>
      <textarea placeholder="message" name="message"></textarea>
    </div>
    <div>
      <button id="submit" type="submit" value="submit">submit</button>
    </div>
  </form>
</div>
